
        <footer>
            <div class="footer">
            
           {% include 'include/newsletter.html.twig' %}

				<!-- Footer Menu Section -->
<div class="footer-links">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="footer-header">Quick Links</h3>
                        <ul>
                            <li><a href="">Search</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms &amp; Condition</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-3">
                        <h3 class="footer-header">Popular</h3>
                        <ul>
                            <li><a href="">Dresses</a></li>
                            <li><a href="">Kids</a></li>
                            <li><a href="">Teens</a></li>
                            <li><a href="">Men</a></li>
                            <li><a href="">Women</a></li>
                        </ul>
                    </div>
<div class="col-sm-3">                       
                    
                    <div class="contact-us">                       
                       <h3 class="footer-header">Contact us</h3>
                       <address>
                           <p class="semibold">Email</p>
                           <p>{{ getThisSettingsData('cust_email') }}</p>
                           <p class="semibold">Phone</p>
                           <p>033-225-22222</p>
                       </address> 
                       
                   </div>
                    </div>
                    <div class="col-sm-3">                        
				<!-- Social Menu Section -->
				    <h3 class="footer-header">Connect with us</h3>
				    <ul class="social-network social-circle">  
            {% set fb = getThisSettingsData('fb_link') %}
            {% set tw = getThisSettingsData('tw_link') %} 
            {% set gp = getThisSettingsData('gp_link') %}
            {% set li = getThisSettingsData('li_link') %}
            {% if fb != "" %}                     
					<li><a href="{{ getThisSettingsData('fb_link') }}" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
          {% endif %}
          {% if tw != "" %}
					<li><a href="{{ getThisSettingsData('tw_link') }}" class="icoTwitter" title="Twitter"  target="_blank"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if gp != "" %}
					<li><a href="{{ getThisSettingsData('gp_link') }}" class="icoGoogle" title="Google +"  target="_blank"><i class="fa fa-google-plus"></i></a></li>
          {% endif %}
          {% if li != "" %}
					<li><a href="{{ getThisSettingsData('li_link') }}" class="icoLinkedin" title="Linkedin"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}

				    </ul>	
				<!-- Social Menu Section -->
</div>
                   
                </div>
            </div>
            </div>
				<!-- Footer Menu Section -->
           
				<!-- Copy Write Section -->

		<div class="footer-copyright">
          	  <div class="container-fluid">
              		  <div class="row">
                   		 <div class="col-sm-6">
                         <p class="copyright">
                             Copyright &copy;Sketch Web Solutions, 2016.
                         </p>
                       			 
                   	          </div>
                   	  <div class="col-sm-6">
                        	<div class="text-right copyright"> Powered by <a href="http://sketchwebsolutions.com" class="copyright">Sketch Web</a></div>
                    	   </div>
                        </div>
           	 </div>
             </div>

         	<!-- Copy Write Section -->
            </div>
        </footer>
